*, *::before, *::active{
    box-sizing: border-box;
}

/*Box-shadow*/
header,
main,
footer {
    box-shadow: 0 0 10px rgb(180, 180, 180);
}


/*Body*/
body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    height: 600px;
    margin:10px auto;
    padding:0;
    font-family: sans-serif;
    /* border: 2px solid grey; */
}


/*Header*/
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    gap: 80px;
    border-radius: 10px;
    background-image: url('images/background1-1.png');
    .title{
        /* width: 65%; */
        h1{
            font-size: 1.5rem;
            text-align: center;
            color: white;
            text-shadow: 0 2px 4px black;
        }
    }
    .search-movie-btn{
        text-align: center;
        /* width: 35%; */
        button{
            font-weight: bold;
            padding: 0.5rem 0.75rem;
            border: none;
            border-radius: 20px;
        }
    }
}

/*main*/
main{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 70%;
    border-radius: 10px;
    .search-section{
        border-bottom: 2px solid grey;
        gap: 15px;
        width: 100%;
        /* margin: 10px auto; */
        text-align: center;
        padding: 15px 0;
        input{
            width: 60%;
            margin: 0 5px 0 0;
        }
        button{
            width: 20%;
            margin: 0 0 0 5px;
        }
        input, button{
            padding: 0.5rem 1rem;
            border-radius: 20px;
            font-size: 1rem;  
        }
    }
    .movies-section{

        h2{

        }
        .movies-grid{
            overflow-y: scroll;
        }
    }
}

/*Footer*/
.footer{
    border-radius: 10px;
    height: 10%;
    p{
        padding: 5px;
        text-align: center;
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
}

/* Hidden */
.hidden{
    display: none;
}